{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 025</title>
</head>
<body>
  <main>
    <!--
      In this one, we're constructing a table. Pay
      attention to all of it because pieces will
      disappear over the next couple of problems.

      In this one, you're going to add the for loop
      to build the rows of data for the table AND
      the table row (tr) tags

      This context has a list of Person objects stored
      in the "people" key.
    -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Pronouns</th>
        </tr>
      </thead>
      <tbody>
        <!-- for each person in people -->
        {% for person in people %}
          <!-- Just the table row open tag -->
          <tr>
            <!-- The table data tag with the person.name in it -->
            <!-- <td>{{ person.name }}</td> -->
            <td>{{person.name }}</td>
            <!-- The table data tag with the person.age in it -->
            <td>{{ person.age }}</td>
            <!-- The table data tag with the person.pronouns in it -->
            <td>{{ person.pronouns }}</td>
          <!-- Just the table row close tag -->
          </tr>
        <!-- end for -->
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
</html>
